#root {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
}
.logo{
  height: 6em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* CSS for Navbar */
.nav-links {
  display: flex;
  gap: 2rem;
  font-size: 1.2rem;
  margin-top: 1rem;
  list-style-type: none;
  margin-right:200px;
}
ul.nav-links>li>a{
  color: #222222;
}

/* CSS for Right Menu */
.right-menu{
  display:flex;
  justify-content:space-between;
}
.account{
    margin-left: 20px;
}
.card {
  padding: 2em;
}
.read-the-docs {
  color: #888;
}

/* CSS for Banner Section Starts*/
.banner-container {
    height: 300px;
    max-width: 100%;
}
.banner-bg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-title {
    position: absolute;
    top: 200px;
    margin-left: 5%;
}
/* CSS for Banner Section Ends*/

/* Css for Product List */
.product-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.product-card{
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
}
.product-card img{
  max-width: 100%;
  height: 300px;
  border-radius: 4px;
  object-fit: contain;
}
.add-cart-btn{
  margin-top:10px;
  padding:10px 20px;
  background-color:#b97a4f;
  color:#ffffff;
  border:none;
  border-radius:5px;
  cursor:pointer;
}
.remove-cart-btn{
  margin-top:10px;
  margin-left:10px;
  padding:10px 20px;
  background-color:#ff4d4d;
  color:#ffffff;
  border:none;
  border-radius:5px;
  cursor:pointer;
}

/* Css for Product List Ends */

/* CSS For Blog Page */
.blog-container{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}
.blog-card {
  width: 300px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 16px;
}
.blog-card img {
  width: 100%;
  height: 180px;
  object-fit: cover; /* prevents image distortion */
}
.blog-content{
  padding: 20px;
}
.blog-title{
  font-size:22px;
  font-weight:bold;
  display: -webkit-box;
  -webkit-line-clamp: 3;      /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;    /* Adds "..." at the end */
}
.blog-description{
  font-size: 16px;
  color: #555;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* show only 3 lines */
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

/* CSS For Blog Page Ends */

/* CSS for Pagination starts */
.pagination-wrapper{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:10px; 
}
.pg-btn{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.pg-btn.active{
  background-color:#b97a4f;
  color:#ffffff;
  border:none;
  outline: none;
}
/* CSS for Pagination Ends */

/* CSS for Footer */
.Footer-container{
  height:50px;
  width:100%;
  color:#ffffff;
  background-color:#b97a4f;
}
.Footer-title{
  padding:15px 0px;
}